@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
font-size:14px;	
}
ul{
list-style-type:none;	
}
a{
text-decoration:none;	
color:#333;
}
a:hover{
color:#F00;	
}
body{
background:#f7f7f7;
}
#header{
width:980px;
height:40px;
margin:20px auto;
}
#header .logo{
float:left;	
}
#header .little{
float:right;
}
#header .little .little-left{
width:75px;
height:40px;
float:left;
line-height:40px;
margin-left:10px;
}
#header .little .little-left i{
width:12px;
height:12px;
display:block;
float:left;
margin-right:5px;
margin-top:14px;
background:url(../img/16.jpg) no-repeat center;	
}
#header .little .little-left span{
color:#ccc;
}
#nav{
width:980px;
height:43px;
margin:0px auto;
border:1px solid #CCC;
background:#FFF;
border-radius:20px;
position:relative;
z-index:3;
top:30px;
}
#nav ul{
width:730px;
height:43px;
float:left;
}
#nav ul li{
width:100px;
height:43px;
float:left;
line-height:46px;
border-right:1px solid #CCC;
text-align:center;
}
#nav ul .first{
background:#df3035;	
font-weight:bold;
border-top-left-radius:19px;
border-bottom-left-radius:19px;	
}
#nav ul .first a{
color:#fff;	
}
#nav ul li:hover{
background:#df3035;
}
#nav ul li:hover a{
color:#fff;
font-weight:bold;
}
#search{
width:200px;
height:28px;
line-height:28px;
float:right;
margin-right:20px;
margin-top:8px;
}
#search .left{
width:160px;
height:28px;
line-height:28px;
float:left;
border:1px solid #CCC;
border-right:none;
border-top-left-radius:15px;
border-bottom-left-radius:15px;	
outline:none;
}
#search .right{
width:38px;
height:30px;
line-height:28px;
float:right;
border:1px solid #CCC;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
outline:none;
padding-left:10px;
background:url(../img/icon1_03.png) #cacaca no-repeat center;
}
#banner{
width:100%;	
margin:0 auto;
position:relative;
z-index::2;
}
#banner img{
width:1350px;
height:400px;	
}
#banner ul{
width:120px;
position:absolute;
bottom:60px;
left:50%;	
}
#banner ul li{
width:10px;
height:10px;
float:left;
border-radius:100%;
background:#FFF;
margin-left:15px;	
}
#infor{
width:980px;
height:275px;
margin:0 auto;
color:#999;	
position:relative;
bottom:40px;
}
#infor ul .about{
width:318px;
height:275px;
border:1px solid #ccc;
border-radius:8px;
background:#fff;
margin-right:10px;
float:left;
}
#infor ul .about-no{
width:318px;
height:275px;
float:left;
}
#infor ul .about p,#infor ul .about-no p{
padding-left:20px;
padding-top:20px;
font-size:16px;
color:#666;	
}
#infor .about-no .list {
width:318px;
border:1px solid #ccc;
border-radius:5px;
margin-top:15px;
background:#fff;
}
#infor .about-no .list ul li{
line-height:42px;
height:42px;
border-bottom:1px solid #CCC;
}
#infor .block 
{
width:280px;
margin:10px auto;	
}
#infor ul .block span{
width:280px;
display:block;
font-size:12px;
line-height:20px;
margin-top:10px;
}
#infor .block img{
width:280px;
height:95px;
display:block;
}
#infor ul li span img{
width:30px;
height:30px;
display:block;
margin:0 auto;
line-height:30px;
padding-top:5px;
float:left;
}
.block ul{
width:95px;
height:25px;
margin-top:20px;
}
.block ul li{
float:left;	
}
.block ul .left{
width:25px;
height:27px;
line-height:27px;
background:#F90;
text-align:center;
border-top-left-radius:15px;
border-bottom-left-radius:15px;
}
.block ul .left i{
color:#fff;
font-weight:bold;
font-size:12px;
padding-left:5px;
text-align:center;
}
.block ul .right{
width:68px;
height:25px;
line-height:25px;
text-align:center;
border:1px solid #CCC;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
}
.block ul .right a{
color:#666;
font-size:12px;
padding-right:5px;
text-align:center;
}
#footer{
width:980px;
margin:15px auto;	
}
#footer>span{
display:block;
width:980px;
font-size:16px;
border-bottom:1px solid #CCC;
padding-bottom:5px;	
}
#footer .pic{
width:980px;
height:40px;
margin:15px auto;
border-bottom:1px solid #CCC;
padding-bottom:10px;
}
#footer .pic li{
float:left;	
}
#footer .last{
width:980px;
height:25px;
margin:10px auto;		
}
#footer .last span{
float:left;
display:block;
color:#999;
font-size:12px;	
}
#footer .last ul{
float:right;	
}
#footer .last ul li{
float:left;
border-right:1px solid #ccc;
padding:0 5px;
}
#footer .last ul li a{
color:#999;
font-size:12px;	
}