@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
font-size:14px;	
}
body{
background:#f7f7f7;
}
ul{
list-style-type:none;	
}
a{
text-decoration:none;	
color:#333;
}
a:hover{
color:#F00;	
}
#header{
width:980px;
height:40px;
margin:20px auto;
}
#header .logo{
float:left;	
}
#header .little{
float:right;
}
#header .little .little-left{
width:75px;
height:40px;
float:left;
line-height:40px;
margin-left:10px;
}
#header .little .little-left i{
width:12px;
height:12px;
display:block;
float:left;
margin-right:5px;
margin-top:14px;
background:url(../img/16.jpg) no-repeat center;	
}
#header .little .little-left span{
color:#ccc;
}
#nav{
width:980px;
height:46px;
margin:0px auto;
border:1px solid #cacaca;
background:#FFF;
border-radius:20px;
position:relative;
z-index:3;
top:30px;
}
#nav ul{
width:730px;
height:46px;
float:left;
}
#nav ul li{
width:100px;
height:46px;
float:left;
line-height:46px;
border-right:1px solid #cacaca;
text-align:center;
}
#nav ul .first{
background:#df3035;	
font-weight:bold;
border-top-left-radius:20px;
border-bottom-left-radius:20px;	
}
#nav ul .first a{
color:#fff;	
}
#nav ul li:hover{
background:#df3035;
}
#nav ul li:hover a{
color:#fff;
font-weight:bold;
}
#search{
width:200px;
height:28px;
line-height:28px;
float:right;
margin-right:20px;
margin-top:8px;
}
#search .left{
width:160px;
height:28px;
line-height:28px;
float:left;
border:1px solid #cacaca;
border-right:none;
border-top-left-radius:15px;
border-bottom-left-radius:15px;	
}
#search .right{
width:38px;
height:30px;
line-height:28px;
float:right;
border:1px solid #cacaca;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
background:url(../img/icon1_03.png) #cacaca no-repeat center;
}
#banner{
width:100%;	
margin:0 auto;
position:relative;
z-index::2;
}
#banner img{
width:1350px;
height:196px;	
}
#main{
width:980px;
height:500px;
border:1px solid #cacaca;
border-top:none;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
margin:0 auto;
}
#main-left{
width:223px;
height:500px;
border-right:1px solid #cacaca;
float:left;
}
#main-left .list li{
line-height:35px;
height:35px;
color:#999;
font-size:12px;
padding: 5px 0px;
padding-left:20px;
}
#main-left .list .first{
background:#e7e7e7;	
}
#main-left .list li:hover{
background:#e7e7e7;	
}
#main-left .list li b{
width:0;
height:0;
border-top:5px solid transparent;
border-bottom:5px solid transparent;
border-right:5px solid #fff; 
float:right;
margin-top:15px;
}
#infor ul {
width:223px;
margin-top:10px;
}
#infor ul li{
line-height:40px;
height:40px;
color:#999;
font-size:12px;
border-bottom:1px solid #cacaca;
}
#infor ul li span img{
line-height:40px;
}
#infor ul li span img{
width:20px;
height:20px;
display:block;
margin:5px;
line-height:30px;
padding-top:5px;
float:left;
}
#main-right{
width:756px;
float:right;
height:500px;
background:#fff;
box-shadow: -3px 0px 8px #ccc;
}
#main-right .top{
border-bottom:1px solid #cacaca;
padding-bottom:10px;
height:40px;
}
#main-right .top h2{
float:left;	
font-weight:normal;
color:#999;
font-size:16px;
padding-left:20px;
padding-top:10px;
}
#main-right .top span{
float:right;
color:#999;
font-size:12px;
padding-right:20px;
padding-top:10px;	
}
.intro{
width:756px;
}
.intro p{
width:756px;
height:40px;
font-size:28px;
color:#333;
text-align:center;
margin-top:30px;

}
.intro span{
width:756px;
height:16px;
display:block;
font-size:9px;
letter-spacing:-1px;
text-align:center;
color:#333;
}
.block{
width:706px;
margin:30px auto;
border-top:1px solid #cacaca;
}
.conn {
width:706px;
height:303px;
}
.conn li{
width:234px;
height:100px;
float:left;
border-bottom:1px solid #cacaca;
border-right:1px solid #cacaca;
margin:0 auto;
}
.conn li:hover{
background:#e63e43;
}
.conn li:hover h2,.conn li:hover h3,.conn li:hover a{
color:#fff;
}
.conn .first:hover{
background:none;	
}
.conn li>div{
width:234px;
height:100px;
text-align:center;
padding:20px 0;
}
.conn .first h1{
width:70%;
height:35px;
line-height:35px;
text-align:center;
font-size:18px;
color:#fff;
padding:3px 8px;
margin:32px auto;
font-weight:normal;
background:#e63e43;
border-radius:5px;
border:1px solid #f00;	
}
.conn li h2{
width:80px;
display:block;
margin:0px auto;
text-align:left;
font-size:18px;
color:#751797;
border-bottom:2px solid #751797;
padding-bottom:3px;
}
.conn li:hover h2{
border-bottom:2px solid #fff;
}
.conn li .color-1{
color:#d73b2f;
border-bottom:2px solid #d73b2f;
}
.conn li .color-2{
color:#1d67b7;	
border-bottom:2px solid #1d67b7;
}
.conn li .color-3{
color:#e6801c;	
border-bottom:2px solid #e6801c;
}
.conn li .color-4{
color:#378905;	
border-bottom:2px solid #378905;
}
.conn li h3{
font-size:13px;
color:#999;
font-weight:normal;
text-align:left;
padding-left:77px;
}
.conn li a{
font-size:14px;
color:#ccc;
text-align:left;
}
.conn .line-noright{
border-right:none;	
}
.conn .line-no{
border-bottom:none;	
}
.conn .line-spacial{
border-bottom:none;	
border-right:none;
}

#footer .last{
width:980px;
height:25px;
margin:10px auto;
}
#footer .last span{
float:left;
display:block;
color:#999;
font-size:12px;	
}
#footer .last ul{
float:right;	
}
#footer .last ul li{
float:left;
border-right:1px solid #ccc;
padding:0 5px;
}
#footer .last ul li a{
color:#999;
font-size:12px;	
}




